<div class="d-flex justify-content-center mt-5 mb-5">
  <div class="col-md-4 d-flex justify-content-center">
      <div class="card align-items-center p-2" style="width: 18rem;">
          <img class="card-img-top text-center w-50" [src]="contact.photo"alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{contact.name}}</h5>
            <p>Id : {{contact.id}}</p>
            <p><i class="fa-solid fa-mobile"></i>Mobile : {{contact.mobile}}</p>
            <p>Email : {{contact.email}}</p>
            <p>Company : {{contact.company}}</p>
            <p>Title : {{contact.title}}</p>
            <p>Group : {{group}}</p>
          </div>
  
        </div>
  </div>
  
</div>