<div class="container">
    <div class="row">
        <div class="col">
            <!-- PAGE TITLE -->
            <h1>Updtate contact page <a class="btn btn-success m-5" routerLink="add-contact"><i
                        class="fa-solid fa-user-plus"></i>ADD NEW</a></h1>
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla fugiat, expedita, dicta in adipisci fugit
                beatae asperiores voluptatibus recusandae eaque voluptatem dignissimos eius laborum doloremque officia
                atque. Praesentium, facilis unde! Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quia
                suscipit totam autem eius doloremque corrupti vero libero sed porro et aliquid dolorum, esse laborum
                quam! Sed labore consectetur eius.</P>


        </div>
    </div>
</div>
<div class="container">
    <div class="row">
<!-- add contact design -->
<div class="container">
    <div class="row">

        <div class="col-8">
          <form #editContactForm="ngForm">
                <!-- id -->
                <div class="mb-3 row">
                    <input name="id" #id="ngModel" [(ngModel)]="contact.id" class="form-control" type="text" placeholder="contact id" aria-label="default input example" required>
                </div>
                <!-- id validation -->
                <div class="mb-3 row text-danger" *ngIf="id.invalid && id.touched">
                    please enter a valid id
                </div>

                <!-- name -->
                <div class="mb-3 row">
                    <input name="name" #name="ngModel" [(ngModel)]="contact.name" class="form-control" type="text" placeholder="contact name" aria-label="default input example" required pattern="[a-zA-Z ]*">
                </div>
                <!-- name - validation -->
                <div class="mb-3 row text-danger" *ngIf="name.invalid && name.touched">
                    please enter a valid name
                </div>

                <!-- photo  -->
                <div class="mb-3 row">
                    <input name="photo" #photo="ngModel" [(ngModel)]="contact.photo" class="form-control" type="url" placeholder="contact image url" aria-label="default input example" required>

                </div>
                <!-- photo validation -->
                <div class="mb-3 row text-danger" *ngIf="photo.invalid && photo.touched">
                    please enter a valid photo
                </div>

                <!-- mobile -->
                <div class="mb-3 row">
                    <input name="mobile" #mobile="ngModel" [(ngModel)]="contact.mobile" class="form-control" type="email" placeholder="contact mobile number" aria-label="default input example" required pattern="[0-9]*" minlength="10" maxlength="10">
                </div>
                <!-- mobile validation -->
                <div class="mb-3 row text-danger" *ngIf="mobile.invalid && mobile.touched">
                    please enter a valid mobile
                </div>

                <!-- email -->
                <div class="mb-3 row">
                    <input name="email" #email="ngModel" [(ngModel)]="contact.email" class="form-control" type="email" placeholder="contact email id" aria-label="default input example" email required >
                </div>
                <!-- email validation -->
                <div class="mb-3 row text-danger" *ngIf="email.invalid && email.touched">
                    please enter a valid email
                </div>

                <!-- company -->
                <div class="mb-3 row">
                    <input name="company" #company="ngModel" [(ngModel)]="contact.company" class="form-control" type="text" placeholder="contact company name" aria-label="default input example" required>
                </div>
                <!-- company validation -->
                <div class="mb-3 row text-danger" *ngIf="company.invalid && company.touched">
                    please enter a valid company
                </div>


                <div class="mb-3 row">
                    <input name="title" #title="ngModel" [(ngModel)]="contact.title" class="form-control" type="email" placeholder="contact title" aria-label="default input example" required>
                </div>
                <!-- title validation -->
                <div class="mb-3 row text-danger" *ngIf="title.invalid && title.touched">
                    please enter a valid title
                </div>


                <div class="row mb-3">
                    <select name="groupId" #groupId="ngModel" [(ngModel)]="contact.groupId" class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon" pattern="[0-9]*" required>
                      <option selected disabled hidden >choose a group</option>
                       <option [value]="group.id" *ngFor="let group of groups">{{group.name}}</option> 
                    </select>
                </div>
                <!-- groupId validation -->
                <div class="mb-3 row text-danger" *ngIf="groupId.invalid && groupId.touched">
                    please enter a valid group
                </div>
                
                <div class="d-flex justify-content-end align-items-end">
                    <a routerLink="">
                        <button type="button" class="btn btn-warning">close</button>
                    </a> &nbsp;
                    <!-- <a href=""> -->
                        <button (click)="editContact(contact.id)"  [disabled]="editContactForm.invalid" type="button" class="btn btn-danger">update</button>
                    <!-- </a> -->
                </div>
            </form>
        </div>

        <div class="col-4">
            <div [hidden]="editContactForm.invalid" class="card" style="width: 18rem;">
                <img style="margin:auto; width:130px;height:170px; padding-top:13px" src="{{contact.photo}}"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{contact.name}}</h5>

                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"></li>
                    <li class="list-group-item">Id:{{contact.id}}</li>
                    <li class="list-group-item">Mobile:{{contact.mobile}}</li>
                    <li class="list-group-item">Emaild:{{contact.email}}</li>
                    <li class="list-group-item">Company name:{{contact.company}}</li>
                    <li class="list-group-item">Title:{{contact.title}}</li>
                    <li class="list-group-item">Group:{{contact.groupId}}</li>

                </ul>

            </div>
        </div>


    </div>
</div>
       
